<template>
  <div>
    <keyboard
        :layouts="layout"
        :maxlength="16"
    ></keyboard>
  </div>
</template>

<script>
import keyboard from 'vue-keyboard';
import axios from 'axios';
import {AppConfig} from "../../application.config";
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";
import JQuery from 'jquery'

window.$ = JQuery;

export default {
  name: 'BayanKeyboard',
  data: function () {
    return {
      received_messages: [],
      send_message: null,
      connected: false,
      info: '',
      layout: ' '
    }
  },
  methods: {
    connect() {
      this.socket = new SockJS(AppConfig.url.socksJsUrl);
      this.stompClient = Stomp.over(this.socket);
      this.stompClient.connect(
          {},
          frame => {
            this.connected = true;

            console.log(frame);
            this.stompClient.subscribe(AppConfig.wsUpdateTopic, function (layout) {
              this.layout = layout;
            });
          },
          error => {
            console.log(error);
            this.connected = false;
          }
      );
    },
    disconnect() {
      if (this.stompClient) {
        this.stompClient.disconnect();
      }
      this.connected = false;
    },
    tickleConnection() {
      this.connected ? this.disconnect() : this.connect();
    }
  },
  beforeCreate() {
    axios
        .get(AppConfig.url.layoutUrl)
        .then(response => this.layout = response.data);
  },
  components: {
    keyboard: keyboard,
  },
  mounted() {
    this.connect();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.pressed-key {
  background-color: black;
  color: red;
}
</style>
