<template>
	<div id="app">
		<BayanKeyboard/>
	</div>
</template>

<script>
	import BayanKeyboard from './components/BayanKeyboard.vue';

	export default {
		name: 'App',
		components: {
			BayanKeyboard: BayanKeyboard,
		},
	};
</script>

<style>
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
	}
</style>
